@font-face {
    font-family: geometric231;
    src: url(../fonts/geometric231bt.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

.logo {
    align-content: flex-start;
    i {
        float: left;
    }

    h1,
    h2 {
        font-family: "geometric231";
        padding-top: 0px;
    }
    h1 {
        font-size: 20px;
        margin: 10px;

        float: left;
    }
    h2 {
        font-size: 16px;
        margin-top: 12px;
        float: right;
    }
}

.navbar {
    background-color: maroon;
    min-height: 20px;

    .navbar-brand {
        color: rgb(245, 235, 235);
        &:hover {
            color: white;
        }
    }
    .navbar-nav {
        .nav-item {
            margin-top: 0px;
            .active {
                color: #760003;
                background-color: rgb(245, 235, 235);
                &:hover {
                    background-color: white;
                }
            }
            .dropdown-menu {
                background-color: rgb(245, 235, 235);
                a {
                    color: #760003;
                    &:hover,
                    &:focus {
                        background-color: white;
                    }
                }
            }
            .disabled {
                color: #747474;
            }
        }
    }
    .navbar-toggler {
        border-color: white;
    }
    .fa-bars {
        color: white;
    }
    li {
        a {
            color: rgba(255, 255, 255, 0.8);
        }
        a:hover {
            color: rgb(255, 255, 255);
        }
    }
}

.nav {
    .nav-item {
        margin-top: 0px;
        .active {
            color: #760003;
            background-color: rgb(245, 235, 235);
            &:hover {
                background-color: white;
            }
        }
        .dropdown-menu {
            background-color: rgb(245, 235, 235);
            a {
                color: #760003;
                &:hover,
                &:focus {
                    background-color: white;
                }
            }
        }
    }

    .nav-tabs {
        .nav-link.active,
        .show {
            .nav-link {
                background-color: rgb(245, 235, 235);
                color: #760003;
            }
        }
        .show {
            a:hover {
                background-color: white;
            }
        }
    }
    .navbar-toggler {
        border-color: white;
    }
    .fa-bars {
        color: white;
    }
    li {
        a {
            color: rgba(255, 255, 255, 0.8);
        }
        a:hover {
            color: rgb(255, 255, 255);
        }
    }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #760003; /* Font color for active font */
    background-color: white; /* Blue color for background */
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
    color: #760003;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

/* Added this to emulate the nav-bar link styling */
.nav-tabs .nav-link:hover {
    //color: green;
    border: 1px solid transparent;
}

body {
    background-color: #fdfdfd;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    p {
        font-family: "Open Sans", sans-serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Oswald", sans-serif;
    }
}

.body {
    min-height: calc(100% - 87px - 3rem);
    display: flex;
    flex-direction: column;
    padding: 0;
}

main {
    flex: 1;
}

.card {
    border: 0px solid rgba(0, 0, 0, 0.125);
    /*border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(216, 216, 216);

    .btn-custom {
        font-size: 12px;
        background-color: #760003;
        color: rgb(245, 235, 235);
        &:hover,
        &:focus {
            background-color: #a04143;
            color: white;
        }
    }
    .model3D {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 1);
        padding: 2px;
        height: 30rem;
    }
    img {
        max-width: 100%;
    }
}

.img-thumbnail {
    padding: 0.25rem;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.gallery {
    .img-thumbnail {
        background-color: rgba(255, 255, 255, 0);
        padding: 0.25rem;
        margin: 5px;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        max-width: 43%;
        height: auto;
    }
}

#statement {
    padding-top: 1rem;
    p {
        padding: 5px;
    }
}

.footer {
    height: 3rem;
    width: 100%;
    background-color: rgb(59, 46, 46);
    color: white;
    a {
        color: white;
        font-size: 15px;
        padding: 10px;
    }
    p {
        color: white;
        font-size: 15px;
        padding-top: 5px;
        margin: 0px;
    }
    .copyright {
        padding-top: 5px;
    }
    .socal {
        padding-top: 0px;
    }
}

#banner {
    background-image: url(../assets/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 8rem;
}

#main_text {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;

    h2 {
        color: rgba(0, 102, 153, 1);
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    h3 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    p {
        font-size: 12px;
        margin: 0px;
        line-height: 1.2;
    }
}

@media (min-width: 576px) {
    #banner {
        height: 20rem;
    }
}

@media (min-width: 992px) {
    #banner {
        min-height: 32rem;
    }
    .logo {
        margin-top: -5px;
        i {
            margin-top: 9px;
        }

        h1,
        h2 {
            padding-top: 0px;
            padding-left: 0px;
        }
        h1 {
            margin: 0;
            margin-top: 0px;
            padding: 0px 10px;
            font-size: 50px;
        }
        h2 {
            margin-top: 10px;
            padding-right: 0px;
            font-size: 40px;
        }
    }
    .navbar-text {
        a {
            font-size: 15px;
        }
        p {
            font-size: 23px;
        }
    }
    .card-header-tabs {
        margin-top: -0.5em;
    }
    .copyright {
        padding-top: 20px;
    }
    .social {
        padding-top: 7px;
    }
}
